@import url(./Globals.css);

.important-tasks p {
  background-color: var(--blue-color-dark);
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
}

.tasks p {
  background-color: var(--blue-color-light);
  margin-bottom: 30px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
}

.title{
  padding-left: 45%; 
  padding-top:20px;  
  padding-bottom:20px; 
  margin-bottom: 20px;
  background-color: #4A7DFF;
  border-radius: 15px;
  color: white;
}

.important{
  display:flex;
  background-color: #99C2FF;
  border-radius: 5px;
  color: white;
}

.completed{
  display:flex;
  margin-left: 150px;
  background-color: #99C2FF;
  border-radius: 5px;
  color: white;
}

.delete{
  display:flex;
  margin-left: 150px;
  background-color: #99C2FF;
  border-radius: 5px;
  color: white;
}

.addTodo{
  display: flex;
}

.tags{
  display:flex;
}

.description-of-task{
  margin-top: 20px;
  padding-bottom: 130px;
  background-color: #99C2FF;
  border-radius: 10px;
  color: white;
}

.addTodo{
  margin-left: 40%;
  margin-right: 40%; 
  margin-top:20px; 
  background-color: #4A7DFF;
  border-radius: 10px;
  color: white;

}

.detailed-Todo{
  display: flex;
}

.description{
  padding-left: 50px;
}

.timeAndDate{
  margin-left: 120px;
  margin-top: 30px;
  background-color: #99C2FF;
}

.startTime h5{ 
  margin-top: 50px;
  background-color: #99C2FF;
}

.endTime h5{
  margin-top: 50px;
  background-color: #99C2FF;
}