@import url(./Globals.css);

/* ================= Add Task =================== */
.text-field {
  background-color: var(--blue-color-light);
  padding: 22px 12px;
  border-radius: 8px;
}

.text-field:focus {
  background-color: var(--blue-color-light);
}

::placeholder {
  color: black !important;
}

/* ================= Show Task =================== */
.task-list-item {
  background: linear-gradient(
    to right,
    var(--blue-color-dark),
    var(--blue-color-light)
  );
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.task-list-item h5 {
  color: var(--white-color);
  text-transform: capitalize;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .task-list-item {
    padding: 7.5px 10px;
  }
  .task-list-item h5 {
    font-size: 16px;
  }
}
