/*  */

.white-box{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 800px;
    display: grid;
    place-items: center;
    margin-top: 100px;

}
.wrap{
    display: grid;
    place-items: center;
}
.main-row{
    width: 100%;
}

.form-group{
padding-bottom: 20px;

}

.login-button{
    background-color: #90A9FF !important;
    border-radius: 60px !important;
    padding: 20px !important;
    border: none !important;
    font-weight: 200px;
    font-size: 20px;
}

#forgot-password{
    display: flex;
    justify-content: flex-end;
    color:rgb(85, 85, 255);
    margin-right: 15px !important;
}

#heading{
    margin: auto;
;
   
}
#exampleFormControlInput1{
    width:400px;
    margin: auto;
    border:3px solid #90A9FF ;
}

