/*  */

.bg-nav {
  background-color: #90a9ff !important;
}

.navbar {
  width: 100vw;
  position: sticky;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white !important;
}

.navbar-brand {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}

.user-account {
  padding-top: 5px;
}
.logout {
  padding-top: 5px;
}

.nav-link {
  font-size: 20px;
}

.white-box {
  background-color: rgb(255, 255, 255);
  height: 70vh;
  width: 70vw;
  display: grid;
  place-items: center;
}
/* .wrap {
  display: grid;
  place-items: center;
} */
.main-row {
  width: 100%;
}

.form-group {
  padding-bottom: 20px;
}

.login-button {
  background-color: #90a9ff;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-weight: 400px;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
}

#forgot-password {
  display: flex;
  justify-content: flex-end;
  color: rgb(85, 85, 255);
  margin-right: 35px !important;
  text-decoration: none;
}

#heading {
  margin: auto;
}
#exampleFormControlInput1 {
  border: 4px solid #90aaffb4;
  margin: 8px;
  padding: 20px;
  width: 30vw;
}

.login-image {
  height: 50vh;
  width: 30vw;
  padding: 0;
  margin: auto;
}

from {
  display: grid;
  place-items: center;
  margin-top: 250px;
}
