/*  */

.bg-nav {
  background-color: #90a9ff !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white !important;
}

.navbar-brand {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}

.user-account {
  padding-top: 5px;
}
.logout {
  padding-top: 5px;
}

.nav-link {
  font-size: 20px;
}

.white-box {
  background-color: rgb(255, 255, 255);
  height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 100px;
}
/* .wrap {
  display: grid;
  place-items: center;
} */
.main-row {
  width: 100%;
}

.form-group {
  padding-bottom: 20px;
}

.login-button {
  background-color: #90a9ff !important;
  border-radius: 60px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  border: none !important;
  font-weight: 400px !important;
  font-size: 18px !important;
}

#forgot-password {
  display: flex;
  justify-content: flex-end;
  color: rgb(85, 85, 255);
  margin-right: 15px !important;
}

#heading {
  margin: auto;
}
#exampleFormControlInput1 {
  width: 400px;
  margin: auto;
  border: 3px solid #90a9ff;
}

.login-image {
  height: 300px;
  width: 300px;
  padding: 0;
  margin: 0;
}
